In [1]:
#1. Write a Python program to create a tuple
#Sample Output: Tuple = ()

a = ()
print(a)

()

In [2]:
#2. Write a Python program to create a tuple with different data types
#Sample Output:('Tutor Joes', True, 'T', 3.21, 10)

x = ("Tutor Joes", True,'T', 3.21, 10)
print(x)

('Tutor Joes', True, 'T', 3.21, 10)

In [5]:
#3. Write a Python program to create a tuple with numbers and print one item
#Sample Output: 10 , Type = tuple
a = 10
print(a)
print("Type =" ,type(a))

10
Type = <class 'int'>

In [8]:
#4. Write a Python program to unpack a tuple in several variables
#Sample Output : a = 4, 8, 3  ,(4, 8, 3)

#create a tuple
a = 4, 8, 3 
print(a)
n1, n2, n3 = a
#unpack a tuple in variables
print(n1 + n2 + n3)

(4, 8, 3)
15

In [11]:
#5. Write a Python program to add an item in a tuple
#Sample Output : (10, 40, 50, 70, 90)  ,add items in list = 20   ,(10, 40, 50, 70, 90, 20)

#create a tuple
t = (10,40,50,70,90) 
print(t)
t = t + (20,)
print(t)
#converting the tuple to list
l = list(t) 
#use different ways to add items in list
l.append(30)
t = tuple(l)
print(t)

(10, 40, 50, 70, 90)
(10, 40, 50, 70, 90, 20)
(10, 40, 50, 70, 90, 20, 30)

In [12]:
#6. Write a Python program to convert a tuple to a string
#Sample Output:('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')  ,Tutor Joes

t = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
s =  ''.join(t)
print(s)

Tutor Joes

In [13]:
#7. Write a Python program to get the 4th element and 4th element from last of a tuple
#Sample Output : ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
#4th Elements From Tuple : e
#4th Elements From Last Tuple : u

t = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(t)
#Get item (4th element)of the tuple by index
i = t[3]
print("4th Elements From Tuple :",i)
#Get item (4th element from last)by index negative
j = t[-4]
print("4th Elements From Last Tuple :",j)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th Elements From Tuple : e
4th Elements From Last Tuple : u

In [16]:
#8. Write a Python program to create the colon of a tuple
#Sample Output : ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
#Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

from copy import deepcopy
#create a tuple
t = ("Tutor", 'J', 23 , 56.67 , [23,12] , True) 
print(t)
#make a copy of a tuple using deepcopy() function
tc = deepcopy(t)
print(tc)

('Tutor', 'J', 23, 56.67, [23, 12], True)
('Tutor', 'J', 23, 56.67, [23, 12], True)

In [20]:
#9. Write a Python program to find the repeated items of a tuple
#Sample Output: (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
#item = 2
#Repeated items of a tuple = 3


t = (2,34,45,6,7,2,4,5,78,34,2)
print(t)
count = t.count(2)
print("Repeated items of a tuple =",count)

(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
Repeated items of a tuple = 3

In [29]:
#10. Write a Python program to check whether an element exists within a tuple
#Sample Output :('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
#8 in Tuple = True
#'x' in Tuple = False

t = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
print("8 in Tuple = ",8 in t)
print("'x' in Tuple =" ,'x' in t)

8 in Tuple =  True
'x' in Tuple = False

In [30]:
#11. Write a Python program to convert a list to a tuple
#Sample Output :  [12, 45, 87, 54, 89, 4]  ,(12, 45, 87, 54, 89, 4)

l = [12,45,87,54,89,4]
print(l)
print(type(l))
t = tuple(l)
print(t)
print(type(t))

[12, 45, 87, 54, 89, 4]
<class 'list'>
(12, 45, 87, 54, 89, 4)
<class 'tuple'>

In [33]:
#12. Write a Python program to remove an item from a tuple
#Sample Output:(23, 45, 56, 68, 10, 45, 7, 9)
#Remove = 56
#(23, 45, 68, 10, 45, 7, 9)

a = (23,45,56,68,10,45,7,9)
print("Original tuple :",a)
b = list(a)
b.remove(56)
a = tuple(b)
print("After Removing 56 from tuple  :",a)

Original tuple : (23, 45, 56, 68, 10, 45, 7, 9)
[23, 45, 56, 68, 10, 45, 7, 9]
After Removing 56 from tuple  : (23, 45, 68, 10, 45, 7, 9)

In [35]:
#13. Write a Python program to slice a tuple
#Sample Output:(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
#(40, 50, 60, 70, 80)

a = (10,20,30,40,50,60,70,80,90,100)
print(a[3:8])
print(a[5:9])
print(a[0:3])

(40, 50, 60, 70, 80)
(60, 70, 80, 90)
(10, 20, 30)

In [40]:
#14. Write a Python program to find the index of an item of a tuple
#Sample Output:(23, 45, 67, 78, 89, 90, 34, 56)
#Item = 78
#Index Number : 3

#    0   1  2  3  4  5  6  7
a = (23,45,67,78,89,90,34,56)
print(a)
print("Item = 78")
print("Index Number :",a.index(78))

(23, 45, 67, 78, 89, 90, 34, 56)
Item = 78
Index Number : 3

In [42]:
#15. Write a Python program to find the length of a tuple
#Sample Output :
#("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
#Length : 6

a = ("Lion","Cat","Dog","Panda","Tiger","Fox")
print(a)
print("Length :",len(a))

('Lion', 'Cat', 'Dog', 'Panda', 'Tiger', 'Fox')
Length : 6

In [43]:
#16. Write a Python program to convert a tuple to a dictionary
#Sample Output
#( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
#{ 'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422 }

#create a tuple
t = (("Name", "Ram"),("Age", 23),("City", "Salem"),("Mark", 422))
print(t)
print(dict((k,v) for k, v in t))

(('Name', 'Ram'), ('Age', 23), ('City', 'Salem'), ('Mark', 422))
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

In [46]:
#17. Write a Python program to unzip a list of tuples into individual lists
#Sample Output
#[ (10,30), (60,90), (20,50) ]
#[ (10, 60, 20), (30, 90, 50) ]

#create a tuple
l = [(10,30), (60,90), (20,50)]
print(l)
print(list(zip(*l)))

[(10, 30), (60, 90), (20, 50)]
[(10, 60, 20), (30, 90, 50)]

In [47]:
#18. Write a Python program to reverse a tuple
#Sample Output
#Before Reverse : ( 23, 45, 67, 78, 89, 90, 34, 56 )
#After Reverse : ( 56, 34, 90, 89, 78, 67, 45, 23 )

a = (23,45,67,78,89,90,34,56)
print("Before Reverse :",a)
"""
#First Method
print("After Reverse :",a[::-1])
 
#Second Method
b = list(a)
b.reverse()
a = tuple(b)
print("After Reverse :",a)
"""
#Third Method
y = reversed(a)
print("After Reverse :",tuple(y))

Before Reverse : (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse : (56, 34, 90, 89, 78, 67, 45, 23)

In [51]:
#19. Write a Python program to convert a list of tuples into a dictionary
#Sample Output
#[ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female") ]
#{ 'Name' : ['Ram', 'Pooja'], 'Age' : [21, 23], 'Gender' : ['Male', 'Female'] }

l = [("Name", "Ram"), ("Name", "Pooja"), ("Name", "Sara"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female"), ("Gender", "Female") , ("Age", 22)]
print(l)
dicn = {}
for x, y in l:
    dicn.setdefault(x, []).append(y)
print (dicn)

[('Name', 'Ram'), ('Name', 'Pooja'), ('Name', 'Sara'), ('Age', 21), ('Gender', 'Male'), ('Age', 23), ('Gender', 'Female'), ('Gender', 'Female'), ('Age', 22)]
{'Name': ['Ram', 'Pooja', 'Sara'], 'Age': [21, 23, 22], 'Gender': ['Male', 'Female', 'Female']}

In [56]:
#20. Write a Python program to print a tuple with string formatting
#Sample Output
#("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
#Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

t = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
print('Fruits{0}'.format(t))

Fruits('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

In [60]:
#21. Create a tuple with single item 23
#Sample Output
#Create a tuple with Item = 23
#Type = tuple

t= (23,)
print(t)
print("type=",type(t))

(23,)
type= <class 'tuple'>

In [63]:
#22. Unpack the tuple into 5 variables
#Sample Output
#Tuple = (11, 22, 33, 44, 55)
#11 22 33 44 55

t= (11, 22, 33, 44, 55)
 
m, n, p, q, r = t
print(m)
print(n)
print(p)
print(q)
print(r)

11
22
33
44
55

In [67]:
#23. Swap two tuples in Python
#Sample Output
#Before Swap A : 10
#Before Swap B : 20
#After Swap A : 20
#After Swap B : 10


a=10
b=20
print("Before Swap A :",a)
print("Before Swap B :",b)
#First Method
a , b = b, a

print("After Swap A :",a)
print("After Swap B :",b)

Before Swap A : 10
Before Swap B : 20
After Swap A : 20
After Swap B : 10

In [70]:
#24. Copy specific elements from one tuple to a new tuple
#Sample Output: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
#(30, 40, 50, 60, 70, 80)

t1 = (10,20,30,40,50,60,70,80,90,100)
t2 = t1[2:8]
print(t2)

(30, 40, 50, 60, 70, 80)

In [75]:
#25. Modify the tuple
#Sample Output
#( 10, 20, 30, 40, 50 )
#( 10, 20, 33, 40, 50 )

my = (10,20,30,40,50)
print("Original Tuple :",my)
l2 = list(my)
l2[2]=33
my = tuple(l2)
print("Modify Tuple :",my)

Original Tuple : (10, 20, 30, 40, 50)

TypeError: 'tuple' object is not callable