In [1]:
#26. Sort a tuple of tuples by 2nd item
#Sample Output
#( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )
#( ('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53) )

t = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
t = tuple(sorted(list(t), key=lambda x: x[1]))
print(t)

(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

In [2]:
#27. Counts the number of occurrences of item 30 from a tuple
#Sample Output :(30, 50, 10, 30, 70, 50, 30)
#Number of Counts 30 : 3

t = (30, 50, 10, 30, 70, 50, 30)
print("Number of Counts 30 :",t.count(30))

Number of Counts 30 : 3

In [3]:
#28. Write a Python program to compute element-wise sum of given tuples
#Sample Output

A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
print("A :",A)
print("B :",B)
print("C :",C)
print("D :",D)
res = tuple(map(sum, zip(A, B, C, D)))
print("Sum of Elements:",res)

A : (2, 5, 8)
B : (6, 5, 1)
C : (1, 4, 7)
D : (3, 7, 2)
Sum of Elements: (12, 21, 18)

In [4]:
#29. Write a Python program to sort a tuple by its float element
#Sample Output
#[ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
#[ ('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43') ]

Percent = [('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40')]
print( sorted(Percent, key=lambda a: float(a[1]), reverse=True))

[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [5]:
#30. Write a Python program to replace last value of tuples in a list
#Sample Output :[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
#Replace value = 10
#[(5, 2, 10),(4, 7, 10),(8, 9, 10)]


l = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print([t[:-1] + (10,) for t in l])

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [6]:
#31. Write a Python program to Extract tuples having K digit elements
#Sample Output
#[ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]
#K = 2
#[ (47, 23), (22, 53) ]

val = [(47, 23), (3, 78), (22, 53), (121, 45), (7, )]
print("Original List : " ,val)
K = 2
res = [sub for sub in val if all(len(str(ele)) == K for ele in sub)]
 
print("Extracted Tuples : " ,res)

Original List :  [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
Extracted Tuples :  [(47, 23), (22, 53)]

In [7]:
#32. Write a Python program to Extract Symmetric Tuples
#Sample Output
#[ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
#{ (2, 9), (18, 23) }

val = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
print("The original list is : " ,val)
temp = set(val) & {(b, a) for a, b in val}
res = {(a, b) for a, b in temp if a < b}
 
print("The Symmetric tuples : " , res)

The original list is :  [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
The Symmetric tuples :  {(2, 9), (18, 23)}

In [8]:
#33. Write a Python program to Sort Tuples by their Maximum element
#Sample Output
#[ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
#[ (19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2) ]

val = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
print("The original list is : " + str(val))
s = sorted(list(val))
s.reverse()
print("Sorted Tuples : " , s)

The original list is : [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
Sorted Tuples :  [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [9]:
#34. Write a Python program to Remove nested records from tuple
#Sample Output
#(10, 20, (30,), 40, (50, 60), 70)
#Removal of Nested Tuple : (10, 20, 40, 70)

val = (10, 20 , (30,), 40, (50, 60), 70)
print("Original Tuple : " , val)
 
res=[]
for i in val:
	if not type(i) is tuple:
		res.append(i)
res=tuple(res)
 
print("Removal of Nested Tuple : " ,res)

Original Tuple :  (10, 20, (30,), 40, (50, 60), 70)
Removal of Nested Tuple :  (10, 20, 40, 70)